{% extends 'base.html.twig' %}

{% block title %}Specialiste index{% endblock %}

{% block body %}
    <h1>Specialiste index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Specialite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for specialiste in specialistes %}
            <tr>
                <td>{{ specialiste.id }}</td>
                <td>{{ specialiste.nom }}</td>
                <td>{{ specialiste.specialite }}</td>
                <td>
                    <a href="{{ path('specialiste_show', {'id': specialiste.id}) }}">show</a>
                    <a href="{{ path('specialiste_edit', {'id': specialiste.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('specialiste_new') }}">Create new</a>
{% endblock %}
