{% extends 'base.html.twig' %}

{% block title %}Demande{% endblock %}

{% block body %}
    <h1>Demande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ demande.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ demande.nom }}</td>
            </tr>
            <tr>
                <th>Sujet</th>
                <td>{{ demande.sujet }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('demande_index') }}">back to list</a>

    <a href="{{ path('demande_edit', {'id': demande.id}) }}">edit</a>

    {{ include('demande/_delete_form.html.twig') }}
{% endblock %}
